extends layout

block content
  .card
    .flex.flex-center
      h2.aubergine.m-v-md #{title}
      span.flex__grow 
      if user
        a(href=`${currentPath + '/new-post'}`) 
          span.button.button-primary New Post
    hr
    ul.m-t-md
