extends layout

block content
  .card.center
    h1 #{title}
    form(action='/forgot-password' method='post' autocomplete='off')
      .m-v-sm
        input(type='email' name='email' required='' maxlength='255' autofocus='' placeholder='Email').input-border.p-sm
      .m-v-md
        input(type='submit' value='Submit').button.button-primary
