extends layout

block content
  .card.center
    h1 #{title}

    if locals.flashes
      - const categories = Object.keys(locals.flashes)
      each category in categories
        each message in flashes[category]
          .staticFlash(class=`staticFlash--${category}`).center.m-v-lg.p-h-md.p-v-sm
            | #{message}

    form(action='/login' method='post' autocomplete='off')
      .m-v-sm
        input(type='text' name='username' required='' maxlength='255' autofocus='' placeholder='Username').input-border.p-sm
      .m-v-sm
        input(type='password' name='password' required='' minlength='8' maxlength='255' autofocus='' placeholder='Password').input-border.p-sm
      .m-v-md
        input(type='submit' value='Log In').button.button-primary
      .m-v-lg
        a(href='/forgot-password').underline Forgot Password?
