extends layout

block content
  .card
    .flex.flex-center.m-v-md
      h2.aubergine Boards
        span.font-small.gray 10
      span.flex__grow
      a(href="/settings/new-board")
        span.button.button-primary New Board
    hr
    ul.m-t-md

    

