extends layout

block content
  .card.center
    h1 #{title}
    p Create a new #{h.siteName} account.
    form(action='/signup' method='post' autocomplete='off')
      .m-v-sm
        input(type='text' name='username' required='' maxlength='255' autofocus='' placeholder='Username').input-border.p-sm
      .m-v-sm
        input(type='email' name='email' required='' maxlength='255' autofocus='' placeholder='Email').input-border.p-sm
      .m-v-sm
        input(type='password' name='password' required='' minlength='8' maxlength='255' autofocus='' placeholder='Password').input-border.p-sm
      .m-v-sm
        input(type='password' name='password_confirm' required='' minlength='8' maxlength='255' autofocus='' placeholder='Confirm Password').input-border.p-sm
      .m-v-md
        input(type='submit' value='Sign Up').button.button-primary
